.padding__top {
    padding-bottom: 10px;
}
.scroll {
    overflow-y: auto;
    height: 464px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.padding__bottom {
    padding-top: 10px;
}
.colomn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}